.header {
    background-color: var(--accent);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
    padding: 1em;
}

.playListBox {
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
}
